.icon-green {
    color: green;
}

.icon-red {
    color: red;
}

.icon-yellow {
    color: gold;
}

.icon-blue {
    color: blue;
}

.icon-purple {
    color: purple;
}

.icon-lightblue {
    color: #0aa6e9;
}
