{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">
        <article>
            <h4>{{ record.title }}</h4>
            <div>{{ record.body }}</div>
            {% include '_recordfooter.twig' with {'record': record} %}
        </article>
    </div>

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}
