{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">
        
        <center>
            <h2>Contact</h2>
            <p>The emails mentioned here are also in the <a href="https://docs.google.com/document/d/1MK7kTofs-SNYcijdp1mVF5Y3stSpnJGjZULd6QcrHIY/">New Judgment System Document</a>.</p>
        </center>
        
        {# Row for regularffrsubmissions Email #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-envelope"></i> Regular FFR Submission
                </div>

                <div class="panel-body">
                    <p style="color:blue;">regularffrsubmissions@gmail.com</p>
                    <p>Use the above email for sending new file submissions to a Regular Batch. In addition, fixes for a Regular Batch file are to be sent to the above email and can be done at any time as long as a judgment for it has not yet been posted. If this rule is abused, it will be removed. This email is also used for files with Resubmission Privileges.</p>
                    
                </div> <!-- End Panel Body -->
            </div>
        </div>
        
        {# Row for ffrsubmissions Email #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-envelope"></i> FFR Submission
                </div>

                <div class="panel-body">
                    <p style="color:blue;">ffrsubmissions@gmail.com</p>
                    <p>Use the above email for sending updates to conditionally queue'd or accepted files. When stepartists use a judge’s review to fix their file, they can comment in response to the notes as they go through them. If stepartists send in their meta review along with the fixed file, it will help speed up the review process especially for conditionally queue'd files.</p>
                    
                </div> <!-- End Panel Body -->
            </div>
        </div>
        
        {# Row for specialsubmissions Email #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-envelope"></i> Special Submissions
                </div>

                <div class="panel-body">
                    <p style="color:blue;">specialsubmissions@gmail.com</p>
                    <p>Use the above email for sending file submissions and file fixes before judgment is posted for special batches.</p>
                    
                </div> <!-- End Panel Body -->
            </div>
        </div>
        
        {# Row for Game Managers #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-users"></i> Game Managers
                </div>

                <div class="panel-body">
                    
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-user"></i>
                            <a href="http://www.flashflashrevolution.com/profile/DossarLX ODI">DossarLX ODI</a>
                        </li>
                        <li>
                            <i class="fa-li fa fa-user"></i>
                            <a href="http://www.flashflashrevolution.com/profile/psychoangel691">psychoangel691</a>
                        </li>
                    </ul>
                    
                </div> <!-- End Panel Body -->
            </div>
        </div>
        
    </div>

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}