{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">
        
        <center>
            <h2>Credits</h2>
        </center>

        {# Row for Pack Contributors Panel #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-arrow-up fa-spin"></i> Pack Contributors
                </div>

                <div class="panel-body">

                    <h4>Crossover Spectrum Part I A</h4>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-arrow-right"></i>debit13 made the fallback graphic for this pack.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>TaroNuke submitted SPECIAL ABILITY.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>Thomas Prag submitted Live Forever, Voyage 1969, and Here I Go Again. He also opened me up to some intricate lateral crossover patterning.</li>
                    </ul>

                    <h4>Crossover Spectrum Part II A</h4>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-arrow-right"></i>debit13 made the fallback graphic for this pack.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>Sudzi781 submitted Bad Maniacs.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>Thomas Prag submitted Blaze, Superluminal, and Ascension To Heaven.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>Tyler submitted Horizon, Dawn of the Kore, Evaquated, and Dokudenpa.</li>
                    </ul>

                    <h4>Crossover Spectrum Part III A</h4>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-arrow-right"></i>debit13 made the fallback graphic for this pack.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>hi19hi19 helped with syncing Scrap Syndrome.</li>
                        <li><i class="fa-li fa fa-arrow-right"></i>Ben Speirs had an amazing topic in DDR + ITG players on his Crash Day file with 220 BPM crossovers which inspired BRUTE MAN to create the song CROSSOVER CHART as a tribute to this pack. BRUTE MAN is pleased to make his first appearance in rhythm games with the addition of his song to this pack series.</li>
                    </ul>
                    
                </div> <!-- End Panel Body -->

            </div>

        </div>
        
        {# Row for Development Panel #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-code-fork"></i> Web Development
                </div>

                <div class="panel-body">

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-code"></i>
                            <a href="http://www.flashflashrevolution.com/profile/qqwref">qqwref</a> for showing me some neat tricks with Python back in early 2014. I use Python for parsing data when needed, such as the migration scripts for getting data from the 120 Crossover Spectrum songs on my old site pages. He's also created the <a href="http://indeedengine.com/packs/search.php">Indeed Song Search Engine</a> as well as the <a href="http://mzrg.com/stepmania/draw/awesome.html">Stepmania Recolorizer</a> which allows you to view a stepfile as well as change the note colors without opening up Stepmania. In general he's a very inspiring person. <i class="fa fa-smile-o"></i>
                        </li>
                        <li><i class="fa-li fa fa-code"></i>
                            <a href="http://www.flashflashrevolution.com/profile/TC_Halogen">debit13</a> aka TC_Halogen for introducing me to Adobe Brackets as a Web Development IDE. It's free and a good alternative to something else like PHPStorm.
                        </li>
                        <li><i class="fa-li fa fa-code"></i>
                            The guys over at <a href="https://bolt.cm/">Bolt</a> for providing a Content Management System that allowed me to set up this site.
                        </li>
                    </ul>

                </div> <!-- End Panel Body -->

            </div>

        </div>
        
    </div>

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}