{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">
        
        <center>
            <h2>FAQ</h2>
        </center>

        {# Row for Introduction Panel #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-question-circle"></i> Common Questions
                </div>

                <div class="panel-body">
                    
                    <p><strong>Q: How do I sign up for an account?</strong></p>
                    <p>As specified by the <a href="/privacy">Privacy Policy</a>, you'll need to send an email for an account creation request. See the <a href="/contact">Contact</a> page for the email to send to.</p>

                    <p><strong>Q: You realize nobody finds these files fun, right?</strong></p>
                    <p>A few helpful nuggets of advice I can give about this pack series:</p>
                    <ol>
                        <li>Don't play this pack series anticipating high scores or you'll make yourself miserable.</li>
                        <li>Don't be surprised if you have trouble with files in this pack that share similar difficulty ratings to other songs you do well on.</li>
                        <li>Don't ignore the other difficulties if you don't like Challenge.</li>
                        <li>Going to the above point, if all you're doing is playing the Challenge charts then you're acknowledging that you are willing to play the hardest difficulty with the hardest crossover patterns and most stream.</li>
                    </ol>
                    
                    <p><strong>Q: Why do you use Beginner instead of Novice, and Challenge instead of Expert?</strong></p>
                    <p>Expert is Heavy in DDR and is Challenge in ITG. I thought the ITG names for the other difficulties were more intuitive, although in the case of Beginner and Challenge I thought DDR's naming convention was more appropriate.</p>
                    
                    <p><strong>Q: What do you think about DDR charts?</strong></p>
                    <p>Some of them are okay, although I always have to expect some sort of gimmick or weird doublestep whenever I play a file. In addition, any files that had crossovers were generally short-lived and I was interested in the idea of adapting a physical challenge with crossover streams. After being spoiled from this pack, I have to say that I dislike the majority of boss songs in DDR from how choppy they are. With Crossover Spectrum I know that everything works out because I've scrutinized these files heavily and wanted an alternative to gimmicky charts. Have you seen any of the Single DDR 19s? It looks like someone was trying to step crossovers but forgot which direction the player was turning, or just purposely put in doublesteps (or nonsensical spins) to make the file harder to score on. If the jump in the ending of Valkyrie Dimension Challenge was removed, it would've worked out as a lateral crossover.</p>
                    
                    <p><strong>Q: Will this pack series get doubles charts?</strong></p>
                    <p>Eventually.</p>
                    
                    <p><strong>Q: I'm interested in sending a chart. How do I submit a file?</strong></p>
                    <p>A submission through email is the preferred method. See the <a href="/contact">Contact</a> page for these details.</p>
                    
                </div> <!-- End Panel Body -->

            </div>

        </div>
        
    </div>

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}