{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-check-circle"></i> Welcome
                </div>

                <div class="panel-body">

                    <p>Welcome to the homepage of the new Batch Search Engine Site. The list below should help describe the links you see above in the navigation menu:</p>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="/queue">Queue</a> shows what files are currently Accepted, in Conditional Queue, and Released.
                        </li>
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="/batches">Batches</a> lists all the current batches and provides links to individual ones.
                        </li>
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="/songs">Songs</a> is a listing of songs from all batches.
                        </li>
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="/about">About</a> lists the current active judges.
                        </li>
                        <li>
                            <i class="fa-li fa fa-link"></i>
                            <a href="/contact">Contact</a> provides ways to contact FFR staff concerning the batch process.
                        </li>
                    </ul>
                    
                </div> <!-- End Panel Body -->

        </div>

        {% include '_articlelisting.twig' %}

    </div>

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
