{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-12 columns">
        
        <center>
            <h2>Privacy Policy</h2>
        </center>

        {# Row for Personal Information Panel #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-user"></i> Personal Information
                </div>

                <div class="panel-body">
                    <p style="text-indent:40px;">Anyone can browse this site anonymously. However, in order to add scores a visitor must have an account registered on the site. To register for an account, the person <b>must provide an email address and username</b> in an email sent to the site administrator, which can be found on the <a href="/contact">Contact</a> page. In response the site administrator can create the account and provide the person with the necessary instructions on adding scores. Users are <b>not</b> required to provide other personal information such as their first name, last name, hometown, country, and phone number. On the event that users want to change their personal information on the site, they can email the site administrator.</p>
                    <p style="text-indent:40px;">User accounts are limited to adding score content to the site. We do not use cookies, and we do not perform any type of tracking. We never ask for personal or private information.</p>
                </div> <!-- End Panel Body -->

            </div>

        </div>
        
        {# Row for Third Party Tracking #}
        <div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="fa fa-user-secret"></i> Third Party Tracking
                </div>

                <div class="panel-body">
                    <p style="text-indent:40px;">We do not transfer any information on the site to outside parties, and we do not allow third party behavioral tracking. In addition, we do not offer or include third party products or services on this site.</p>
                </div> <!-- End Panel Body -->

            </div>

        </div>
        
    </div>

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}